/* Global Styles */
html,
body {
  height: 100%;
  background-color: #40bad5;
}

.main {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.secret {
  color: #c70039;
}

.headingText {
  color: white;
  font-size: 2em;
}

/* Post Secret Styles */

.new-post-container {
  position: absolute;

  left: 50%;
  margin-left: -200px;

  top: 35%;
  transform: translateY(-20%);

  width: 400px;
  margin-bottom: 10px;
}

.heading {
  text-align: center;
  margin-bottom: 40px;
}

.searchText {
  text-align: center;
  color: white;
  font-size: 2em;
}

.post:hover,
.post:focus {
  border: #fa7d94 1px solid;
  color: #fa7d94;
  background-color: transparent;
}

/* Search Secret Styles */
.search-secret-container {
  display: none;
  position: absolute;

  left: 50%;
  margin-left: -250px;

  top: 35%;
  transform: translateY(-20%);

  width: 500px;
  margin-bottom: 10px;
}

/* View Secret Styles */
.view-secret-container {
  display: none;
  background-color: #fff;

  border-radius: 5px;
  padding: 10px;
  padding-top: 30px;
  position: absolute;

  left: 50%;
  margin-left: -250px;

  top: 20%;

  width: 500px;
  margin-bottom: 100px;
}

.exit-icon {
  position: absolute;
  right: 5px;
  top: 5px;
}

.spinner {
  display: none;
  text-align: center;
  margin: 50px;
}

/* Media Querys */
@media screen and (max-width: 576px) {
  .new-post-container {
    left: 50%;
    margin-left: -150px;
    width: 300px;
  }

  .search-secret-container {
    left: 50%;
    margin-left: -150px;
    width: 300px;
  }

  .view-secret-container {
    left: 50%;
    margin-left: -150px;
    width: 300px;
  }
}
